<%- include('../../header.ejs')%>
<section class="dashboard-wrap mtb-40">
  <div class="container">
    <div class="body-content">
      <div class="row">
        <div class="col-md-3">
          <div class="dash-left">
            <ul>
              <li class="active"><a href="/admin/dashboard">Dashboard</a></li>
              <li><a href="/admin/blogdisplay" class="active">Blogs</a></li>
              <li><a href="/admin/category">Categories</a></li>
              <li><a href="/admin/contactdisplay">Contact</a></li>
              <li><a href="/admin/about">About</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-9">
          <div class="dash-right">
            <div class="dash-header">
              <div class="dash-title">
                <h1>Blogs</h1>
              </div>
              <div class="dash-nav">
                <button
                  class="btn btn-primary"
                  type="button"
                  data-toggle="modal"
                  data-target="#exampleModal"
                >
                  add blog
                </button>
              </div>
            </div>
            <table class="table table-bordered table-striped">
              <tr>
                <th>Serial.no</th>
                <th>Image</th>
                <th>Title</th>
                
              </tr>

              <tr>
                <td><%= b._id %></td>
                <td><img src="<%= b.image.url %>"></td>
                <td><%= b.title %></td>
                
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../../footer.ejs')%>